<%- include('./partials/header.ejs')%>
<main>
	<section class="article">
	<h1 >UNCC Esports Club</h1>
	<article >
	<p >&nbsp;</p>
		<h2> For any issues with this website or any questions , Please contact us </h2>
		<h3 >&nbsp;</h3>
		<p>Nanda Kishore</p>
		<p >&nbsp;</p>
		<p>vkhander@uncc.edu</p>
		<p >&nbsp;</p>
		<p>9803132095</p>
	</article>
	</section>
	</main>

<%- include('./partials/footer.ejs')%>