<%- include('./partials/header.ejs')%>
    <div class = "connart">
        <img src=https://camo.githubusercontent.com/45e86abaeac3ddfe5334077a7e5394327b0a146bfc1f31f2252e6db48dbab0de/68747470733a2f2f7261772e6769746875622e636f6d2f7068696c6970626a6f7267652f4f6f70732d72622f6d61737465722f6c6f676f2e706e67 alt="Error!" width = 400>
       <h1 style="margin-left: 500;"><%= error.status%>Error</h1> 
        <h2><%= error.message%></h2>
    </div>
<%- include('./partials/footer.ejs')%>
    